body {
  max-width: 800px;
  margin: 0 auto;
}

form {
  padding: 1em;
  margin: 1em;
  border: 1px solid black;
}

label {
  min-width: 75px;
  display: inline-block;
}

input {
  margin-bottom: 10px;
}

.code {
  font-family: monospace;
}
